<div class="mb-1 row">
  <ul class="list-group col-md-8 mx-auto">

    <% @tasks.each do |task| %>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <%= link_to task.title, task_path(task), class: "text-decoration-none text-dark fw-bold" %>
        <div class="btn-group" role="group">
          <button class="btn btn-outline-info">Edit</button>
          <%= link_to "Delete", task_path(task), class: "btn btn-outline-danger",
                      data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
        </div>
      </li>
    <% end %>

    <li class="list-group-item">
      <%= link_to "Add a new task", new_task_path(), class: "btn btn-success" %>
    </li>
  </ul>
</div>
